/* ===== HEADER STYLES ===== */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  font-size: 18px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
  margin: 0;
  padding: 0;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  justify-self: center;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.header__address {
  justify-self: end;
  font-style: normal;
  line-height: 0;
  text-align: left;
}

.header__address a {
  display: block;
  margin-right: 80px;
  line-height: 1.2;
}

.header__address p {
  margin-top: 1px;
  text-decoration: none;
  line-height: 1.2;
}

/* ===== COVER STYLES ===== */
.cover {
  position: relative;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  color: #FFF;
  font-size: 100px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin-bottom: 135px;
}

.aligned-text {
  display: block;
}

.aligned-text:not(:last-child) {
  margin-bottom: 10px;
}

.aligned-text_center {
  text-align: center;
  margin-left: 40px;
}

.aligned-text_right {
  text-align: right;
  margin-left: 624px;
  margin-top: 66px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 78px;
}

.cover__description-text {
  color: #FFF;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  padding: 12px 32px;
  border: 1px solid #FFF;
  background: transparent;
  color: #FFF;
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
}

/* ===== LOTS STYLES ===== */
.lots {
  padding: 180px 50px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  list-style: none;
  margin-bottom: 30px;
}

.lots__card-list-item {
  width: 430px;
  min-height: 450px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 450px;
  padding: 50px 40px;
  color: #FFF;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
  z-index: 1;
}

.card__text {
  position: relative;
  font-size: 20px;
  line-height: 1.2;
  z-index: 1;
}

.lots__look-more-link {
  margin-left: 40px;
  font-size: 20px;
}

/* ===== ABOUT STYLES ===== */
.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
  padding: 10px 1px 180px 10px;
}

.about__column:first-child {
  display: flex;
  justify-content: flex-start;
  padding-left: 40px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 100px 10px 100px 0px;
}

.about__text {
  font-size: 18px;
  line-height: 1.2;
}

.about__text p {
  margin: 0 0px 25px 0;
}

.about__text p:last-child {
  margin-bottom: 0;
}

/* ===== FOOTER STYLES ===== */
.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
  padding: 0 50px 90px;
  font-size: 18px;
}

.footer__address {
  justify-self: start;
  font-style: normal;
  line-height: 1.2;
}

.footer__address a {
  display: block;
  line-height: 1.2;
}

.footer__address p {
  margin-top: 5px;
  text-decoration: none;
  line-height: 1.2;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-list-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  justify-self: end;
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

/* Global link styles */
a {
  text-decoration: underline;
  text-underline-offset: 4px;
}